{
  "extends": "airbnb",
  "rules": {
    "indent": [0],
    "id-length": [0],
    "no-underscore-dangle": [0],
    "no-mixed-operators": [0],
    "import/prefer-default-export": [0],
    "react/no-unused-prop-types": [0],
    "react/jsx-filename-extension": [0],
    "react/forbid-prop-types": [0],
  }
}